*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* so that the 1rem unit will be 10px, normally it is 16px*/
}
body{
    min-height: 100vh;
    background: #273c75;
    display: flex;
    justify-content: center;
    align-items: center;
}
a,a:hover{
    text-decoration: none;
}
.searchBox{
    position: relative;
    display: flex; /* so that the search button and input stays on same level */
    justify-content: center;
    align-items: center;
}
.searchText{
    width: 0rem; /* if we comment this and next line then input will be visible so made it 0 in both so it is not visisble */
    padding: 0rem;
    border-radius: 5rem;
    border: none; /* to remove the default border */
    outline: none; /* to remove the default outline */
    transition: all 0.2s linear;
}
.searchText:focus{
    outline: none;
}
.searchBtn{
    width: 5rem;
    height: 5rem;
    position: absolute;
    background-color: #192a56;
    color: white;
    display: grid;/* if you have 1 item then you can also use grid and place-items center instead of display: flex; justify-content: center; align-items: center; */
    place-items: center;
    right: 1rem;
    border-radius: 50%;
}
.searchBox:hover > .searchText{ /* if user hovers on the searchBox then target searchText */
    width: 25rem;
    padding: 2rem;
    box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5); /* vertical 0, horizontal 2rem, how much blur, from where i need it to spread, background color(50% of dark black */
}
.searchBox:hover > .searchBtn{ /* if user hovers on the searchBox then target searchBox */
    background-color: #fff;
    color: royalblue;
}