@import url("https://fonts.google.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%); /*Due to this the cutout of circle is happening */
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: 1;
    z-index: 1;
}
.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);/*due to this glass effect is coming*/
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);/*Due to this grey background came*/
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);/* This gives the blur effect and works only on chrome*/
}
.container .card .content{
    padding: 20px;
    text-align: center;
    /* transition from here*/
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;/* 0.5 sec will be taken for the transition */
}
.container .card:hover .content{ /* when you hover it will appear */
    transform: translateY(0);
    opacity: 1; /* 1 means it will be visible */
}
.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}
.container .card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
.container .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 30;
}
.container .card .content a{
    position:relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#img1{
    background: url("https://media-exp1.licdn.com/dms/image/C5603AQFMrOChJr1tRg/profile-displayphoto-shrink_800_800/0/1591709325204?e=1618444800&v=beta&t=wSBRXsuScCnR9lTm-NQE5Xt7triBe1fNRmlnGRVTqU8");
    height: 90px;
    width: 90px;
    border-radius: 15px;
    margin-left: 8px;
}